<div class="alignContent">
    <div class="row">
        <div class="col">
            <h2>Fight passengers List</h2>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Filter By Name</mat-label>
                <mat-select  >
                  <mat-option *ngFor="let time of fliterValue" [value]="time.id">
                    {{time.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col">
            <a mat-button [routerLink]="['staff/passanger/add/',flightId]">Add New Passenger</a>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="seat_no">
        <th mat-header-cell *matHeaderCellDef> Seat No </th>
        <td mat-cell *matCellDef="let element"> {{element.seat_no}} </td>
      </ng-container>
  
      <ng-container matColumnDef="start_Time">
          <th mat-header-cell *matHeaderCellDef> Passport No </th>
          <td mat-cell *matCellDef="let element"> {{element.start_Time}} </td>
        </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">  
          <a mat-button [routerLink]="['passanger/',element.id]">Edit</a>
          <a mat-button [routerLink]="['passanger/',element.id]">Delete</a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>    


